system_ext/priv-app/Settings/Settings.apk
product/priv-app/Velvet/Velvet.apk
boot.img
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/apex/com.android.vndk.current.apex
vendor/camera/mimoji/model2.zip
vendor/etc/camera/st_license.lic
